.App {
  margin: 0 80px 0 80px ;
  height: 1000px;
  padding-top: 40px;
}
.size{
  width: 200px;
  height: 1000px;
  float:left;
  justify-content: center;
}

.product {
  height: auto;
  width: 1159px;
  float: right;
}
.size button {
  margin: 0 5px 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 50px;
  height: 50px;
  border: none;
  background: #999;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  }


.product h3{
  border-bottom: 1pt solid rgb(218, 208, 208);
  padding-left: 40px;
  font-weight: 10;
}

img{
  width: 250px;
  height: 350px;
  
}
li.images {
  width: 250px;
  height: 400px;
  display: inline-block;
  list-style: none;
  text-align: center;
  margin: 0 10px 10px 10px;
}
button.buy{
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(179, 179, 85);
  border-style: none;
  color: white;
  width: 70px;
}
.size>button:hover{
  background-color: rgb(145, 140, 140);
}
.size>button:focus{
  outline: none;
  background-color: rgb(44, 43, 43);
  color:white
}
li.images p{
  margin-top: -10px;
  
}
p.price{
  font-weight: 50;
}
